
<header>
		<div >
			<nav>
				<ul>
					<li>
						<a href="{{ path('menu') }}"  title="Accueil">
							Accueil
						</a>
					</li>
					<li>
						<a href="{{ path('plat_index') }}"  title="Plats">
							Plats
						</a>
					</li>
					<li>
						<a href="{{path('category_index')}}" title="Catégories">
							Catégories
						</a>
					</li>
					
				</ul>
			</nav>
		</div>
	</header>